html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffe5d9;
  margin-bottom: 15px;

  padding: 10px;
  text-align: center;
}

.wrapper {
  width: 100%;
  /* used flex so nav/main/aside can sit in a row. */
  display: flex;
  /* items can wrap normally on smaller screens */
  flex-wrap: wrap;
  /* make alignment even */
  align-items: start;
  /* for consistent spacing between cols and rows when wrapping. */
  gap: 15px;
  /* adding a bit of padding so content isnt stuck to the edge. */
  padding: 0 10px 15px;
}

nav {
  background-color: #dbfbdb;
  padding: 10px;
  /* allow sidebar to shrink/grow with minimum width. */
  flex: 1 1 14rem;
}

main {
  background-color: #e2eafc;
  padding: 20px;
  /* main content should take most of the available space on bigger screens. */
  flex: 999 1 40rem;
  /* so main doesnt become unusably narrow  */
  min-width: min(100%, 20rem);

}

section {
  display: inline-block;
  vertical-align: top;
  background-color: #c1d3fe;
  padding: 15px;
  margin: 15px;
}

article {
  display: inline-block;
  background-color: #e0ffff;
  padding: 10px;
  width: 100%;
}

aside {
  background-color: #fffacd;
  padding: 20px;
  /* similar sizing behavior to nav. */
  flex: 1 1 16rem;
}

/* making the homepage hero image responsive */
main img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  background-color: #fbd6d2;
  padding: 10px;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: '\26A0';
  background: white;
  opacity: 0.01;
  font-size: 0;
}